@model HomeViewModel
<div class="logout">
    <form method="post" asp-controller="Account" asp-action="LoggaUt">
        <AuthorizeView>
            <Authorized>
                <h2>Inloggad som @User.Identity.Name</h2>
                <input type="submit" value="Logga ut" />
            </Authorized>
        </AuthorizeView>
    </form>
</div>

<div class="rubrik">
    <h1>Resume</h1>
</div>

@foreach (var cv in Model.CVs.Take(4))
{
    <div>
        <h2> CVs </h2>
        @if (cv.User != null)
        {
            <p><strong>First name:</strong> @cv.User.FirstName</p>
            <p><strong>Last name:</strong> @cv.User.LastName</p>
            <lb>Institutions</lb>
                <ul>

                    @foreach (var Educations in cv.Educations)
                    {
                       
                        <li>@Educations.Institution</li>
                        <lb>Programs</lb>
                        <li>@Educations.EducationName</li>
                    }
                </ul>
            <lb>Skills</lb>
                <ul>
                    @foreach (var skill in cv.Skills)
                    {
                        
                        <li>@skill.SkillName</li>
                    }
                </ul>
            <form method="post" asp-controller="Info" asp-action="CV">
                 <input type="submit" value="Till CV" />
            </form>

        }
        else
        {
            <p><strong>User information is missing.</strong></p>
        }
@* 
       @*  <p><strong>About me:</strong> @cv.Summary</p>
     *@
@* 
        <p>Skills </p>
               
        <ul>
            @foreach (var skill in cv.Skills)
            {
                <li>@skill.SkillName</li>
            }
        </ul>
        <p>Experiences </p>
        <ul>
            @foreach (var Experiences in cv.Experiences)
            {
                <li>@Experiences.CompanyName</li>
                <li>@Experiences.Role</li>
            }
        </ul>
        <p>Education </p>
        <ul>
            @foreach (var Educations in cv.Educations)
            {
                <li>@Educations.Institution</li>
                <li>@Educations.EducationName</li>
            }
        </ul>
 *@
      <div class="projekt">
        <h1>Projects</h1>
        <ul>
            @if (cv.CVProjects != null)
            {
                @foreach (var cvProject in cv.CVProjects)
                {
                    <li>
                        <strong>@cvProject.Project.ProjectName:</strong>
                        <strong>@cvProject.Project.ProjectDescription </strong>
                        <strong>@cvProject.Project.UploadDate </strong>
                        <form method="post" asp-controller="Account" asp-action="LoggaUt"> 
                            <AuthorizeView>
                                <Authorized>
                                    <input type="submit" value="Anmäl till projekt" />
                                </Authorized>
                            </AuthorizeView>
                        </form>
                    </li>
                }
            }
            else
            {
                <li>No projects available.</li>
            }
        </ul>

      </div>
    </div>
}




@{
    ViewData["Title"] = "Home Page";
}


        



<style>
    .logout
    {
        margin-top:1rem;
        margin-left:85em;
        font-size:1rem;
        
    }

    .rubrik{
        margin-bottom: 5rem;
        margin-top:-3rem;
        text-align:center;
    }

    .projekt{
        margin-top:10rem;
        text-align: center;
    }


</style>

